
.dropdown-menu-right {
    right: 0;
    left: auto;
}

/* .dropdown-item:hover {
    background-color: #24a0ed !important;
} */

body
{
    background-image: url("../../assets/homePage.jpg");
}

.container {
    max-width: 95%;
}

.nav {
    overflow: auto;
}

.success-msg {
    position: fixed;
    top: 80px; 
    left: 35%;
    width: 30%;
    z-index: 100;
}