<section class="bg-image">
  <!-- style="background-color: blue;"> -->
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100 my-5">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 my-5">


          <div class="card mt-5" style="border-radius: 15px;">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-4">Reset Password!</h2>

              <form #Form="ngForm" [formGroup]='exForm' (ngSubmit)="Form.form.valid && runResetPassword()" class="px-5">
                <p *ngIf='raiseError'
                    class='text-center border border1-1 border-warning alert alert-warning'>{{ showError }}
                </p>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user fa-lg"></i> </span>
                        </div>
                        <input type="text" [(ngModel)]="username" placeholder="Username"
                            formControlName="username" class="form-control">
                    </div> <!-- input-group.// -->
                    <small *ngIf="exForm.get('username')?.invalid && exForm.get('username')?.touched "
                            class="text-danger font-weight-bold">Username is required</small>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input type="email" [(ngModel)]="email" placeholder="Email Address"
                            formControlName="email" class="form-control">
                    </div> <!-- input-group.// -->
                    <small *ngIf="exForm.get('email')?.invalid && exForm.get('email')?.touched"
                            class="text-danger font-weight-bold">Email Address should be valid</small>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock fa-lg"></i> </span>
                        </div>
                        <input type="password" [(ngModel)]="password" placeholder="New Password"
                                formControlName="password" class="form-control"><br>
                    </div> <!-- input-group.// -->
                    <small *ngIf="exForm.get('password')?.invalid && exForm.get('password')?.touched "
                                class="text-danger font-weight-bold">Password is required</small>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock fa-lg"></i> </span>
                        </div>
                        <input type="password" [(ngModel)]="confirmpassword" placeholder="Confirm New Password"
                                formControlName="confirmpassword" class="form-control"><br>
                    </div> <!-- input-group.// -->
                    <small *ngIf="exForm.get('confirmpassword')?.invalid && exForm.get('confirmpassword')?.touched "
                                class="text-danger font-weight-bold">Confirm Password is required</small>
                    <small *ngIf="exForm.get('confirmpassword')?.touched && password != confirmpassword"
                                class="text-danger font-weight-bold">Confirm Password is not correct</small>
                </div> <!-- form-group// -->

                <div class="d-flex justify-content-center">
                  <button type="submit" (click)="validateForm()" 
                    class="btn btn-info btn-block text-body">Reset</button>
                </div>

                <p class="text-center text-muted mt-4 mb-0">Want to login? <a routerLink="/login"
                    class="link-primary"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>