
.bg-image {
    background-image: url("../../assets/resetpassword.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}