<section class="home-bg"
  style="background-color: whitesmoke;">
    <div class="mask d-flex h-100 my-5">
        <div class="container h-100 my-5">
            <div class="row d-flex align-items-center justify-content-center my-5 h-100">
                <div class="col-lg-6 text-center text-white my-5">
                    <h1 class="display-1" style="font-family: 'Comic Sans MS', cursive, sans-serif;">Welcome!</h1>
                    <h1 class="display-2" style="font-family: 'Comic Sans MS', cursive, sans-serif;">{{ username }}</h1>
                </div>
                <div class="col-lg-6 d-flex justify-content-center my-5">
                    <ul class="list-group text-center">
                        <li style="list-style: none;" class="mb-3">
                            <a class="btn btn-info" routerLink="/tweets/all"><span class="display-4"><i class="fa fa-twitter"></i>&nbsp;Tweets</span></a>
                        </li>
                        <li style="list-style: none;">
                            <a class="btn btn-primary" routerLink="/users/all"><span class="display-4"><i class="fa fa-users"></i>&nbsp;Users</span></a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</section>