
.bg-image {
    background-image: url("../../assets/homePage1.jpg");
    background-position: left center;
    /*background-image: url("../../assets/images/tweet-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/
    /*opacity: 0.8;
    max-height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;*/
}

.logo {
    width: 40px;
    height: 40px;
}


